.result-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
  width: 50vw;
}

.grid-item {
  background-color: rgba(255, 165, 0);
  padding: 25px;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.text-dec {
  text-decoration: underline;
  font-size: 18px;
}

.grid-item:nth-child(1) {
  border-radius: 10px 0 0 0;
}

.grid-item:nth-child(2) {
  border-radius: 0 10px 0 0;
}

.grid-item:nth-child(7) {
  border-radius: 0 0 0 10px;
}

.grid-item:nth-child(8) {
  border-radius: 0 0 10px 0;
}

.saving {
  padding: 10px;
}
.usageTitle{
  font-family: 'lobster';
  text-align: center;
}

@media only screen and (max-width:414px) {

  .column-placement {
    flex-direction: column;
    width: unset;
  }

  .grid-container {
    width: unset;
  }

  .alt {
    width: 100%;
  }

  .grid-item:nth-child(1) {
    border-radius: 0;
  }
  
  .grid-item:nth-child(2) {
    border-radius: 0;
  }

  .grid-item:nth-child(7) {
    border-radius: 0;
  }
  
  .grid-item:nth-child(8) {
    border-radius: 0;
  }
}
@media only screen and (max-width:600px) {

  .column-placement {
    flex-direction: column;
    width: unset;
  }

  .grid-container {
    width: unset;
  }

  .alt {
    width: 100%;
  }

  .grid-item:nth-child(1) {
    border-radius: 0;
  }
  
  .grid-item:nth-child(2) {
    border-radius: 0;
  }

  .grid-item:nth-child(7) {
    border-radius: 0;
  }
  
  .grid-item:nth-child(8) {
    border-radius: 0;
  }
}
